FORMAT: 1A
HOST: https://api.homecredit.cz

# Home Credit - Partner API - ORDER - Future version
API documentation for Home Credit API for partners.

> Version of documentation: `3.2.1` (02/2024)

In case of any question, please contact our integration department  (integrace_eshop@homecredit.cz).

| Version        | Release | Release date | News |
| ---            | ---     | ---          | ---  |
| 3.2.1 (02/2024) | CS113    | 13.2.2024  | Two new resources were published: [Cancel Application](#reference/application-resources/cancel-application) and [Get Application Detail](/#reference/application-resources/get-application-detail) |
| 3.1.1 (01/2024) | CS112    | 17.1.2024  | New version of API |


> **IMPORTANT NOTE:** Resource calls made from **Slovakia** MUST use appropriate dedicated `.sk` endpoints. E.g. `https://api.homecredit.sk/financning/v3/applications`


## Getting started
This online document describes Home Credit API for partners - the means for partners through which they can offer their customers the benefits of one of Home Credit's payment methods or products.

Described services aim to allow customers the smooth running through the process of an online purchase or loan arrangement. The services that allow achieving this goal are divided into the following groups:

| Group of services                                           | Purpose                                                                                                                                                      |
| ---                                                         | ---                                                                                                                                                          |
| [Security](#reference/security)                             | Security rules and principles                                                                                                                                |
| [Application resources](#reference/application-resources)   | Resources that allows processing of *application* during its whole life cycle                                                                                |
| [Merchantsite resources](#reference/merchantsite-resources) | Resources that should be developed and exposed by a partner to allow HC asynchronously inform it about important changes regarding particular *applications* |

### Basic implementation
The basic and minimum way how to implement HCO API is to at least implement:
1. [Login](#reference/security/login-partner)
    - Partner must be authorized to be able to access the most resources
1. [Create application](#reference/application-resources/create-application)
    - Partner calls this resource to start the loan approval process by creating an `application`. `Application` itself and its ID are essential for successful process completion.
1. Redirect handlers.
    - Special URLs for customers that shows payment success or rejection (more info [here](#introduction/getting-started/parameters-added-to-your-return-urls)).
1. [Application notification](#reference/merchantsite-resources/application-notification)
    - This endpoint has to be exposed on your side to allow HC back-end to asynchronously notify you about the important changes regarding particular applications.
1. [Mark order items as shipped/delivered](#reference/application-resources/mark-order-as-shipped)
    - Home Credit does not start the process of financial compensation unless the `order` is marked as `SHIPPED` or `DELIVERED` .

<!-- diagram minimální implementace -->

<!-- stavový diagram žádosti / objednávky -->

It is necessary to fill in all attributes marked as 'required' in the request. Filling optional parameters will result in a better application approval rate. Partner should always consider filling as many attributes as possible.


## Documentation principles
- attributes in request/response object are optional unless stated otherwise (`required` flag under attribute name)
- a required attribute in an optional object means, that if an optional object is specified, it must contain the required attribute.
- all values in request/response attributes are just examples, except for enum values - these are the only possible values for the given attribute.
- documentation adheres to [semantic versioning](https://semver.org/spec/v2.0.0.html), which makes a distinction between *major*, *minor*, and *patch* versions.

### Naming conventions
- we use camelCase for all object and attribute names
- we use CAPITAL_UNDERSCORE for enum values
- we use plural in resource names


### Key words used in this document (RFC 2119)

The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED",  "MAY", and "OPTIONAL" in this document are to be interpreted as described in [RFC 2119](https://www.ietf.org/rfc/rfc2119.txt).

## Home Credit REST API principles

### Request restrictions
Please, keep in mind following restrictions regarding requests:
- Maximum request size is **10 MB**.
- Maximum size of accepted single file is **500 kB**.
- Here is the list of supported files:

| MIME type                                                                 | Example(s)                 |
| ---                                                                       | ---                        |
| application/pdf                                                           | *.pdf                      |
| application/vnd.openxmlformats-officedocument.spreadsheetml.sheet         | *.xlsx                     |
| application/vnd.openxmlformats-officedocument.wordprocessingml.document   | *.docx                     |
| application/vnd.openxmlformats-officedocument.presentationml.presentation | *.pptx                     |
| application/vnd.ms-excel                                                  | *.xls, *.xlt, *.xla        |
| application/msword                                                        | *.doc, *.dot               |
| application/vnd.ms-powerpoint                                             | *.ppt, *.pot, *.pps, *.ppa |
| plain/text                                                                | *.csv, *.txt               |
| image/jpeg                                                                | *.jpg, *.jpeg              |
| image/png                                                                 | *.png                      |
| image/gif                                                                 | *.gif                      |


### API calls limits
When partner reaches API calls limit (partner calls the API more times than is partner's quota), he receives HTTP error 429. To inform partner about limits we use following response headers:
- `X-Rate-Limit-Limit` - The number of allowed requests in the current period
- `X-Rate-Limit-Remaining` - The number of remaining requests in the current period
- `X-Rate-Limit-Reset` - The number of seconds left in the current period

### Versioning
We use API version in URL (e.g. `https://api.homecredit.cz/financing/v3/applications`). *Minor* changes and *patches* (see below) that don't break backwards compatibility do NOT increase API version, e.g. they MAY happen without prior notice and your application should be ready to handle them.

*Minor* changes include:
- adding new resource
- adding new optional header/URL parameter or optional body attribute to request
- adding new attribute to response body
- adding new error codes and messages, provided that error structure is the same

### Response encoding
Unless stated otherwise, all responses are sent as `Content-Type: application/json; charset=utf-8`

### HTTP status codes
We use following status codes throughout the API, except for OAuth flow when response codes are prescribed in RFC
- 200 `OK` - request was successful
- 201 `Created` - request was successful and resource was created
- 202 `Accepted` - request has been accepted for processing, but the processing has not been completed
- 204 `No Content` - we accepted partner's request but there is nothing to return (e.g. response is empty)
- 400 `Bad Request` - syntax error, e.g. request is missing required parameters/attributes or parameter values are of incorrect type
- 401 `Unauthorized` - partner is not authorized
- 403 `Forbidden` - access denied (e.g. user / application is not allowed to use the resource)
- 404 `Not Found` - resource could not be found
- 405 `Method Not Allowed` - specified method is not allowed for resource
- 422 `Unprocessable Entity` -  business (semantic) errors. Request is well-formed, but cannot be processed (e.g. payment due date is in past). Errors are specified in response body (see below)
- 429 `Too Many Requests` - partner exceeded the rate limit (see section [API calls limit](#introduction/api-calls-limits) above)
- 500 `Internal Server Error` - something went wrong on our side
- 503 `Service Unavailable` - there is planned service outage

### Error handling
Besides HTTP status codes, which are the main indication if something goes wrong, we also use `errors` object to report more details about errors.

Errors object example:
```javascript
{
    ...

    errors: [
        {
            "code": "ERR_100",
            "message": "Invalid contract number",
            "severity": "ERROR",
            "attribute": "partyAccount.accountNumber",          // optional
            "ticketId": "UAT1:AMS:20160516-091658.450:45e4" // optional
        },
        {
            "code": 352,
            "message": "Insufficiend funds for payment order realization",
            "severity": "WARN"
        },
        {
            "code": 523,
            "message": "This order will trigger currency exchange operation",
            "severity": "INFO"
        }
    ]
}
```

Error object attributes
| Attribute name | Description                                                     |
| ---            | ---                                                             |
| code           | unique error code                                               |
| message        | human readable error description (non-localized)                |
| severity       | error severity (see below)                   |
| attribute      | json path of request attribute that caused the error (optional) |
| ticketId       | internal ticket ID, used for error backtracking                 |

There are 3 levels of error severity:
- `ERROR` - critical error, execution cannot continue. This MUST be indicated also by appropriate HTTP status code (e.g. `422 Unprocessable Entity`)
- `WARN` - non-critical error, execution can continue but further user interaction is advisable (for request to proceed, partner MUST specify this error code in `override` request attribute). This MIGHT be indicated also by appropriate HTTP status code.
- `INFO` - information only, execution can continue without user interaction.

#### Errors overview
| Status code | Code                  | Explanation                                                                     | Message                                                                                                        |
| ---         | ---                   | ---                                                                             | ---                                                                                                            |
| 400         | INVALID_REQUEST       | Request was not well formatted (malformed request syntax, size too large, etc.) | (*Various messages possible*) e.g. Unsupported combination of application status and order status              |
| 404         | OBJECT_NOT_FOUND      | The requested resource could not be found                                       | (*Various messages possible*) e.g. Specified object was not found                                              |
| 422         | NOT_ALLOWED           | Operation is not allowed (internal reason)                                      | (*Various messages possible*) e.g. Not allowed (other reason)                                                  |
| 500         | INTERNAL_SERVER_ERROR | Unexpected condition was encountered and no more specific message is suitable   | (*Various messages possible*) e.g. Failed to parse given JSON                                                  |

### Formats
- **date** and **time** uses [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) formatting, e.g.:
  - date is represented as `YYYY-mm-dd`. Timezone (local) is added when necessary.
  - time is represented as `Thh:mm:ss`. Timezone is added when necessary. Time with arbitrary number of digits respresenting miliseconds is also accepted (when [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format criteria is met) but the time without miliseconds is always returned.
  - day of week is represented as number 1..7, with 1 being Monday
  - week no. 1 is the week with the year's first Thursday in it
- **phone numbers** uses international format starting with '+' and including country code (example of valid number: `+420739111222`)
- **numbers format** number format is defined by [JSON standard](http://www.json.org), e.g. decimals are separated by `.`
- **money format** uses [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) formatting (in minor units, e.g.: 12590 in minor units represents 125,90 CZK/EUR)

## Parameters added to return URLs
- During redirection of the customer from Home Credit's front-end back to partner's website (to one of the provided URLs - `approvedRedirectUrl`, `rejectedRedirectUrl`) there are some potentially useful information about a customer's outcome in Home Credit's front-end added:
- `applicationId` (string) - HCO application identifier
- `applicationStatus` (enum) – Application status
- `orderNumber` (string) - E-shop's internal order number provided within API call of [Create application](#reference/application-resources/create-application) (if available)
- `orderStatus` (enum) - Order status (if available)
- `cashStatus` (enum) - Cash loan status (if available)
- `withdrawal` (boolean) – True when the customer's purchase is financed directly from his already existing revolving loan; false when a new contract is being created (if available)
- `downPayment` (number) – Value of down payment, usually set to 0 (minor units format is used - 100000 represents 1000, [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217))
- `checkSum` (string) – hashed message

- e.g. `http://youreshop.cz?&applicationId=123e4567-e89b-12d3-a456-426655440000&applicationStatus=CONFIRMED&orderNumber=018884&orderStatus=TO_SHIP&downPayment=100000&checkSum=443E150D3406F6A8DC62C1DB224AFDD84FA9907071BB1AD9B2C7701031793662191501B26AADF3A31361341EA176C80B23D8A9A5E5B5219538289945FE0C20A7`


# Group Security
To access our API, partner has to obtain *access token* first; this token is a string of arbitrary length (30+ chars) and it has to be included in HTTP header to every request to API. This section describes way to obtain valid access token and use it to access protected resources.

- to obtain access token, use `/authentication/v1/partner` resource with appropriate parameters (see the [`/authentication/v1/partner` resource documentation](#reference/security/login-partner))

- access token should be present in every request using request header `Authorization`, with type `Bearer`. If partner's access token has value `secret_token`, it should be specified as follows:

`Authorization: Bearer secret_token`

So the real example using curl will look like:

```
curl -H "Authorization: Bearer secret_token" https://api.homecredit.cz/financing/v3/applications
```

- access token has limited time validity (for 2 hours). After it is expired, partner has to obtain new one using `/authentication/v1/partner` resource.

- if partner fails to specify access token, he will receive `401 Unauthorized` error and following response body:

```
{
   "error_description": "The access token is missing",
   "error": "invalid_request"
}
```

- if partner provides invalid access token, he will receive `401 Unauthorized` error and following response body:

```
{
    "error_description":"The access token is invalid or has expired",
    "error":"invalid_token"
}
```

> IMPORTANT NOTE: Partner must keep his access token and login credentials safe. Login credentials nor access token should NEVER be put into client page. If partner plans to integrate API calls in customer flow without submitting the page to server, partner should implement REST endpoint bound to partner's shopping basket session, that will be used as a proxy to call HC API.

> NEVER transfer access token nor login credentials over plain HTTP. Such requests will be refused.

## Login partner [/authentication/v1/partner]

### Login partner [POST]
Partner authenticate himself and obtain acces token

+ Request (application/json; charset=utf-8)
    + Attributes (PartnerLogin)


+ Response 200(application/json; charset=utf-8)

        Partner acces token issued

    + Attributes (PartnerLoginResult)


+ Response 400(application/json; charset=utf-8)

        Unable to authenticate partner

    + Attributes (Errors)


# Group Application resources
Services that allow the processing of *application* during its whole lifecycle.

## Create application [/financing/v3/applications]
The elementary flow starts when the customer is interested in some of Home Credit's product.


Use `/financing/v3/applications` resource with properly filled request that contains at least following data
- Type of customer (MUST be defined)
- Customer's personal data (MAY be ommited for `ONLINE` process)
- Order (or other product) details
  - Type of order (`STANDARD` or `BROKERED`)
  - Total Price (including VAT)
  - Order items (array, at least one item is required for `STANDARD` order type)
    - Order item name
    - Total price (all pieces, including VAT)
  - Name of the original e-shop the purchase was made in (for `BROKERED` order type)
- Context information necessary for the continuation and completion of the process
  - Channel type (`ONLINE`)
  - Channel data

If the request was successfully processed, partner receives HTTP status code 201 and `Application` object with at least following information in the response:
- Application unique ID
- Application status


If the request contained `ApplicationRequest.financedSubject.order.number` and was **recognized as duplication**
- and previously created `Application` is canceled (`Application.status = CANCELLED` and `Application.financedSubject.order.status = CANCELLED`), new `Application` is created, HTTP status code 201 is returned with `Application` object with information specified above in the response
- and previously created `Application` is still not in process by customer (without any recorded action by a customer), no new `Application` is created, HTTP status code 200 is returned with `Application` object with information about application created during the first related successful resource call.
- and previously created `Application` is neither canceled nor new anymore, HTTP status code 422 is returned with error code `DUPLICATE_ORDER_NUMBER`.

In case of an error, you receive one of the following results:
| Status code | Code                   | Explanation                                                                     |
| ---         | ---                    | ---                                                                             |
| 400         | INVALID_REQUEST        | Request was not well-formatted (malformed request syntax, size too large, etc.) |
| 422         | UNPROCESSABLE          | Request was well-formed but was unable to be followed due to semantic errors    |
| 422         | DUPLICATE_ORDER_NUMBER | Creating of Application with duplicated Order number is not allowed             |
| 500         | INTERNAL_SERVER_ERROR  | Unexpected condition was encountered and no more specific message is suitable   |


### Create application [POST]
Create a new *application*

+ Request Example_VALID_REQUEST (application/json;charset=UTF-8)
    + Attributes (ApplicationRequest)

+ Response 201(application/json;charset=UTF-8)

        Application was created

    + Attributes (ApplicationBase)


+ Request Example_REPEATED_VALID_REQUEST (application/json;charset=UTF-8)
    + Attributes (ApplicationRequest)

+ Response 200(application/json;charset=UTF-8)

        Application was created in the past (nothing changed)

    + Attributes (ApplicationBase)


+ Request Example_BAD_REQUEST (application/json;charset=UTF-8)
    + Attributes (ApplicationRequest)
        + `financedSubject` (FinancedSubjectBase)
            + `type`: `INVALID_TYPE` (enum, required) - Type of financed subject
                + `ORDER`

+ Response 400(application/json;charset=UTF-8)

        There was an error processing request - invalid financedSubject.type

    + Attributes (Errors)


## Mark order as shipped [/financing/v3/applications/{applicationId}/orders/ship]
After the customer's contract is approved and signed, the partner is notified that all preparations are complete, enabling the transfer of goods to the customer. The initial step involves utilizing the *Mark Order as Shipped* method, signifying that the order has been dispatched to the customer.

Upon confirmation with the customer, the order's price is remitted to the partner.

Available for:
| Application status | Order status |
| ---                | ---          |
| `CONFIRMED`        | `TO_SHIP`    |
| `CONFIRMED`        | `SHIPPED` (in case partner tries to ship already shipped *order*, nothing changes)    |

If the request was successfully processed, HTTP status code 204 is returned.

  In other cases, you receive one of the following errors:
  | Status code | Code                  | Explanation                                                                      |
  | ---         | ---                   | ---                                                                              |
  | 400         | INVALID_REQUEST       | Request was not well-formatted (malformed request syntax, size too large, etc.)  |
  | 404         | OBJECT_NOT_FOUND      | The requested resource could not be found                                        |
  | 422         | NOT_SUPPORTED         | Resource has not supported status                                                |
  | 422         | UNPROCESSABLE         | The request was well-formed but was unable to be followed due to semantic errors |
  | 500         | INTERNAL_SERVER_ERROR | Unexpected condition was encountered and no more specific message is suitable    |

+ Parameters
    + applicationId (string, required, `123e4567-e89b-12d3-a456-426655440000`)


### Mark order as shipped [PUT]
When the whole *order* was shipped to the customer, partner use `/financing/v3/applications/{applicationId}/orders/ship` resource where `{applicationId}` is the *application* ID received in the response of `/financing/v3/applications` after its creation.

+ Response 204

+ Response 422(application/json;charset=UTF-8)

        Status change can not be processed

    + Attributes (Errors)

## Mark order as delivered [/financing/v3/applications/{applicationId}/orders/deliver]
The alternative approach for processing order delivery involves employing the *Mark Order as Delivered* method. This method confirms that the order has been not only shipped but also successfully delivered to the customer.

The partner receives the order's payment within a few days after the order is delivered.

Available for:
| Application status | Order status |
| ---                | ---          |
| `CONFIRMED`        | `TO_SHIP`    |
| `CONFIRMED`        | `DELIVERED` (in case partner tries to deliver already delivered *order*, nothing changes)   |

If the request was successfully processed, HTTP status code 204 is returned.

  In other cases, you receive one of the following errors:
  | Status code | Code                  | Explanation                                                                      |
  | ---         | ---                   | ---                                                                              |
  | 400         | INVALID_REQUEST       | Request was not-well formatted (malformed request syntax, size too large, etc.)  |
  | 404         | OBJECT_NOT_FOUND      | The requested resource could not be found                                        |
  | 422         | NOT_SUPPORTED         | Resource has not supported status                                                |
  | 422         | UNPROCESSABLE         | The request was well-formed but was unable to be followed due to semantic errors |
  | 500         | INTERNAL_SERVER_ERROR | Unexpected condition was encountered and no more specific message is suitable    |

+ Parameters
    + applicationId (string, required, `123e4567-e89b-12d3-a456-426655440000`)


### Mark order as delivered [PUT]
When the whole *order* was delivered to the customer, partner use `/financing/v3/applications/{applicationId}/orders/deliver` resource where `{applicationId}` is the *application* ID received in the response of `/financing/v3/applications` after its creation.

+ Response 204

+ Response 422(application/json;charset=UTF-8)

        Status change can not be processed

    + Attributes (Errors)

## Cancel application [/financing/v3/applications/{applicationId}/cancel]
If the client decides against the full completion of the *order*, the partner has the option to employ this tool for initiating the cancellation of the application. This resource serves as a mechanism to efficiently handle and process cancellations in such instances.

Available for:
| Application status | Order status |
| ---                | ---          |
| `CREATED`          | `IN_PROCESS` |
| `PRESCORED`        | `IN_PROCESS` |
| `ALTERNATIVE`      | `IN_PROCESS` |
| `APPROVED`         | `IN_PROCESS` |
| `CONFIRMED`        | any except `PAID`  |
| `CANCELLED`        | `CANCELLED`  (in this case nothing changes)  |

If the request was successfully processed, HTTP status code 200 is returned.

  In other cases, you receive one of the following errors:
  | Status code | Code                  | Explanation                                                                      |
  | ---         | ---                   | ---                                                                              |
  | 400         | INVALID_REQUEST       | Request was not-well formatted (malformed request syntax, size too large, etc.)  |
  | 404         | OBJECT_NOT_FOUND      | The requested resource could not be found                                        |
  | 422         | NOT_SUPPORTED         | Resource has not supported status                                                |
  | 422         | UNPROCESSABLE         | The request was well-formed but was unable to be followed due to semantic errors |
  | 500         | INTERNAL_SERVER_ERROR | Unexpected condition was encountered and no more specific message is suitable    |

+ Parameters
    + applicationId (string, required, `123e4567-e89b-12d3-a456-426655440000`)


### Cancel application [PUT]
Partner use `/financing/v3/applications/{applicationId}/cancel` resource where `{applicationId}` is the *application* ID received in the response of `/financing/v3/applications` after its creation.

+ Request Example_VALID_REQUEST (application/json;charset=UTF-8)
    + Attributes (CancelApplicationRequest)

+ Response 200

+ Response 422(application/json;charset=UTF-8)

        Status change can not be processed

    + Attributes (Errors)


## Get application detail [/financing/v3/applications/{applicationId}]
A resource designed to retrieve information regarding the current status of a client's credit *application*.

Available for:
| Application status | Order status |
| ---                | ---          |
| any        | any    |

If the request was successfully processed, HTTP status code 200 is returned.

  In other cases, you receive one of the following errors:
  | Status code | Code                  | Explanation                                                                      |
  | ---         | ---                   | ---                                                                              |
  | 404         | OBJECT_NOT_FOUND      | The requested resource could not be found                                        |
  | 500         | INTERNAL_SERVER_ERROR | Unexpected condition was encountered and no more specific message is suitable    |

+ Parameters
    + applicationId (string, required, `123e4567-e89b-12d3-a456-426655440000`)


### Get Application [GET]
Partner use `/financing/v3/applications/{applicationId}/orders/deliver` resource where `{applicationId}` is the *application* ID received in the response of `/financing/v3/applications` after its creation.

+ Response 200

    + Attributes (GetApplicationDetail)

+ Response 422(application/json;charset=UTF-8)

        Status change can not be processed

    + Attributes (Errors)


# Group Merchantsite resources
Services that should be developed and exposed by partner e-shops to allow HC asynchronously inform these partner e-shops about important changes regarding particular *applications* and *orders*

> **ATTENTION:** This set of APIs is NOT exposed from HC. Instead, it should be developed by partner and accept calls specified below.


## Application notification [/partner/notification/endpoint]
We use this resource when there is a need to let you know about important changes within particular *application*. Namely in following situations:

| Trigger                                                             | Corresponding `Application.status` | Corresponding `Application.financedSubject.order.status` | Expected reaction                                                      |
| ---                                                                 | ---                                | ---                                                      | ---                                                                    |
| Application was approved (approval process is proceeding correctly) | APPROVED                           | IN_PROCESS                                               | Do not cancel customer's order prematurely                             |
| Application was rejected                                            | REJECTED                           | CANCELLED                                                | You should probably cancel respective order and release reserved goods |
| Application was cancelled (before delivery)                         | CANCELLED                          | CANCELLED                                                | You should probably cancel respective order and release reserved goods |
| Order to dispatch (we commit to finance customer's order)           | CONFIRMED                          | TO_SHIP                                                  | Dispatch the order to the customer                                     |
| Application is going to be paid out                                 | CONFIRMED                          | PAID                                                     | Wait for us processing financial compensation with you                 |
<!-- | Application was cancelled (after delivery)                          | CANCELLED              | TERMINATED                    | You should probably cancel respective order and process returning of the goods (if not already done so) |-->

We fill the request with at least following information:
- Application unique ID
- Application status
- Time of a triggering `Application.status` change
- Notification sequence number
- Notification dispatch time
- Hashed message (check sum)

<!--
> USEFUL NOTE: If you come to a conclusion it has been taking us unusually long time to send you particular notification, do not hesitate to use `GET /financing/v3/applications/{applicationId}` resource (where `{applicationId}` is the application ID you received in the response of `/financing/v2/applications` after its creation) to directly find out information you seek.
-->

### Application notification [POST]
Notify partner about changes in application.

+ Request (application/json;charset=UTF-8)
    + Attributes (NotificationRequest)
        + `notificationContent` (NotificationContent)
            + `applicationStatus`: `CONFIRMED` (enum, required) - Status of the application
              + `CREATED`
              + `PRESCORED`
              + `APPROVED`
              + `VERIFICATION`
              + `ALTERNATIVE`
              + `CONFIRMED`
              + `REJECTED`
              + `CANCELLED`
            + `orderStatus`: `TO_SHIP` (enum, optional) - Status of the Order
              + `IN_PROCESS`
              + `TO_SHIP`
              + `SHIPPED`
              + `CHECKING_DELIVERY`
              + `DELIVERED`
              + `PAID`
              + `CANCELLED`
              + `TERMINATED`
            + downPayment (Amount)
              + `value`: 150000 (number, required) - Amount in minor units (150000 represents 1 500) [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
              + `currency`: `CZK` (string, required) - Amount currency [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217). Only local currency is allowed (CZK in Czech Republic and EUR in Slovakia).

+ Response 204

+ Response 400 (application/json;charset=UTF-8)

        Can not process changes


# Data Structures

## ApplicationRequest(object)
+ `customer` (FinancingApplicationCustomer, required) - Customer data. This specification of type of customer is REQUIRED.
+ `originationContext` (FinancingOriginationContext, required) - Additional information about the context of financing application origination (e.g. redirect URL back to partner site)
+ `financedSubject` (FinancedSubjectBase, required) - Subject of financing (for example IPhone purchase, loan for 20 000 CZK ...)

## FinancingApplicationCustomerBase(object)
+ `type` (enum, required) - Customer type
  + `PERSON` - Borrower that wants to use loan for individual purpose
  + `ENTREPRENEUR` - Person who organizes, operates and assumes the risk of a business venture and wants to use loan for his business
  + `LEGAL_ENTITY` - Company or organization that has legal rights and obligations

## FinancingApplicationCustomer(FinancingApplicationCustomerBase)
+ `person` (FinancingPerson, optional) - REQUIRED for `PERSON` Customer type. If known, customer data MAY be included for a smoother approval process for defined type of customer
+ `entrepreneur` (Company, optional) - REQUIRED for `ENTREPRENEUR` Customer type. If known, customer data MAY be included for a smoother approval process for defined type of customer
+ `legalEntity` (Company, optional) - REQUIRED for `LEGAL_ENTITY` Customer type. If known, customer data MAY be included for a smoother approval process for defined type of customer

## FinancingPerson (object)
+ `firstName`: `John` (string, optional) -  Customer first (given) name. Name SHOULD follow regular expression `^[A-ZÁ-Ž]'?[- \u00A0a-zA-Zá-žÁ-Ž]*[a-zA-Zá-žÁ-Ž]$`, SHOULD be 2 to 30 characters long and characters SHOULD be in the `ISO 8859-2` character set.
+ `lastName`: `Newborn` (string, optional) - Customer last (family) name. Name SHOULD follow regular expression `^[A-ZÁ-Ž]'?[- \u00A0a-zA-Zá-žÁ-Ž]*[a-zA-Zá-žÁ-Ž]$`,SHOULD be 2 to 30 characters long and characters SHOULD be in the `ISO 8859-2` character set.
+ `fullName`: `Ing. John Newborn, Csc.` (string, optional) - Customer full name, including academical degrees and salutation. Attribute `fullName` is parsed (and eventually shortened) into `firstName` and `lastName`; `fullName` is never returned in response. In case all three attributes are provided, `fullName` is discarded. Full name SHOULD be no longer than 100 characters and characters SHOULD be in the `ISO 8859-2` character set
+ `contacts` (array[ApplicationContact], optional) - Contacts of person.
+ `addresses` (array[Address], fixed-type, optional) - Addresses.
+ `identificationNumber`: `890619/5723` (string, optional) - Customer's identification number (actually birth number). SHOULD be valid according to the legislation currently in effect. Customer MUST be at least 18 years old.
+ `ipAddress`: `172.10.10.1` (string, optional) - IPv4 or IPv6 address of a customer.
+ `fingerprintComponents` (KeyValue, optional) - Fingerprints components.

## Address(object)
+ `city`: `Prague` (string, optional) - City. String values longer than 100 characters will be shortened to 100 characters.
+ `streetAddress`: `Letenská` (string, optional) - Street/city part. String values longer than 100 characters will be shortened to 100 characters.
+ `streetNumber`: `22` (string, optional) - Street number. String values longer than 50 characters will be shortened to 50 characters.
+ `zip`: `140 00` (string, optional) - Postal code. String values longer than 10 characters will be shortened to 10 characters.
+ `flags` (array[AddressFlag], fixed-type,  optional) - Types of the address.

## AddressFlag(enum)
+ `PERMANENT` - Permanent residential address
+ `CONTACT` - Contact address

## ApplicationContact(object)
+ type (enum, required) - Contact type
  + `EMAIL` - Email.
  + `MOBILE` - Mobile phone.
  + `PHONE` - Landline phone.
+ email (Email, optional) - Email address of customer. REQUIRED for `EMAIL` Contact type.
+ mobile (Phone, optional) - Number of customer's mobile phone. REQUIRED for `MOBILE_PHONE` Contact type.
+ phone (Phone, optional) - Number of customer's landline phone. REQUIRED for `PHONE` Contact type.

## Email(object)
+ `value`: `john.newborn@country.com` (string, required) - E-mail address of customer. MUST be valid email according to [RFC 2822](https://tools.ietf.org/html/rfc2822).

## Phone(object)
+ `countryCode`: `+420` (string, optional) - MUST be valid countryCode.
+ `value`: `777123456` (string, required) - Mobile phone number SHOULD be 9 characters long. The mobile phone number itself without country code SHOULD begin with digit `6` or `7` (for CZ) or with `9x` where `x` is different from `6` (for SK).

## Company (object)
+ `businessName`: `Planeta s.r.o.` (string, optional) - Name of business company.
+ `addresses` (array[Address], fixed-type, optional) - Addresses.
+ `businessIdentificationNumber`: `123456854` (string, optional) - Company's identification number (known as IČO).
+ `ipAddress`: `172.10.10.1` (string, optional) - IPv4 or IPv6 address of a customer.
+ `fingerprintComponents` (KeyValue, optional) - Fingerprints components.

## FinancedSubjectBase(object)
+ `type` (enum, required) - Financed subject type
  + `ORDER`
+ order (OrderBase, required) - Information about customer's purchase of goods. REQUIRED for ORDER type of Financed subject

##  OrderBase(object)
+ type (enum, required) - Type of order.
    + `STANDARD` - Ordinary order, the *application* is created directly by the e-shop that sells the goods to the customer
    + `BROKERED` - Multiparty business relationship, *application* is created by some intermediary (for example payment gateway, eshop aggregator)
+ number: `11111111` (string,  optional) - Identifier, specified by the partner (e-shop, POS shop, inetmediary). MAY be provided for easier identification of application on partner's side. MUST NOT be longer than 100 characters.
+ specificSymbol: `1122334455` (string,  optional) - Specific symbol (internal for partner) for reconciliation payment. MUST NOT be longer than 10 characters
+ variableSymbol: `1234567` (string,  optional) - Variable symbol (internal for e-shop) for reconciliation payment. MUST NOT be longer than 10 characters. If empty, `order.number` is used instead. If not provided or not usable (e.g. `order.number` contains only letters) Home Credit internal identifier is used.
+ totalPrice (Amount, required) - Total order amount, including VAT
+ preferredDownPayment (Amount, optional) - Preferred down payment amount (amount SHOULD be rounded to hundreds CZK/ 5 EUR) (example: valid downpayment 35 EUR, invalid downpayment 32 EUR)
+ financings (array[OrderFinancing], fixed-type, required) - Information about form of financing ORDER application. MUST be provided with at least `type` of `financing` for orders with only single financing. MUST be provided with at least `amount` and `type` for particular `financing` parts for orders with multiple financings (typically more complicated product, for example Iphone purchase with future buyback).
+ standard (StandardOrder, optional) - MUST be provided for `order.type` = `STANDARD`
+ brokered (BrokeredOrder, optional) - MUST be provided for `order.type` = `BROKERED`

## StandardOrder (object)
+ `deliveryType` (enum, optional) - Type of service used for goods delivery
    + `PERSONAL_BRANCH`
    + `PERSONAL_PARTNER`
    + `ONLINE`
    + `DELIVERY_CARRIER`
+ `reservationDate`: `2017-07-15T00:00:00+02:00` (string,  optional) - Date and time until order is reserved. Until `reservationDate` HCO will try to notify partner with Application notification about approval or rejection.After this date and time, e-shop does not guarantee items availability (if application processing is longer, it may endanger order fullfillment).
+ `items` (array[OrderItem], fixed-type, required) - Order items, MUST contain at least one item

## BrokeredOrder (object)
+ merchantOrders (array[MerchantOrder], fixed-type, required) - Array of merchant orders (usually consists of one order)

##  MerchantOrder(object)
+ number: `22222222` (string, optional) - Internal order number of the merchant (e-shop, POS shop), MAY be provided for easier identification of application on partner's side, MUST NOT be longer than 100 characters.
+ name: `MALL` (string, required) - Merchant name, MUST NOT be longer than 60 characters
+ logo (File, optional) - Merchant's logo
+ businessIdentificationNumber: 26204967 (number, optional) - Business identification number, MUST NOT be longer than 8 digits
+ url: `www.mall.cz` (string, optional) -`URL of the merchant's`web site (e-shop), MUST NOT be longer than 1000 characte`s, MUST be valid URL
+ `deliveryType` (enum, optional) - Type of service used for goods delivery
    + `PERSONAL_BRANCH`
    + `PERSONAL_PARTNER`
    + `ONLINE`
    + `DELIVERY_CARRIER`
+ `reservationDate`: `2017-07-15T00:00:00+02:00` (string,  optional) - Date and time until order is reserved. Until `reservationDate` HCO will try to notify partner with Application notification about approval or rejection.After this date and time, e-shop does not guarantee items availability (if application processing is longer, it may endanger order fullfillment).
+ items (array[OrderItem], fixed-type, optional) - Order items

##  OrderItem(object)
+ code: `EXC4677-1a` (string, optional) - Internal code for item (internal to e-shop). Used to better identify the item for future changes. Maximum 100 characters
+ ean: `888462064002` (string, optional) - EAN code. Maximum 32 characters
+ name: `iPhone 6s 32GB SpaceGray` (string, required) - Item name. String values longer than 60 characters will be shortened to 60 characters.
+ quantity: 1 (number, optional) - Item quantity. If empty, considered as 1.
+ type (enum, optional) - Item type
    + `PHYSICAL`
    + `DISCOUNT`
    + `SHIPPING_FEE`
    + `SALES_TAX`
    + `DIGITAL`
    + `GIFT_CARD`
    + `STORE_CREDIT`
    + `FEE`
    + `INSURANCE`
+ totalPrice (Amount, required) - Total price for all pieces (including VAT)
+ unitPrice (Amount, optional) - Price per one piece. If empty, automatically considered that `unitPrice` is `totalPrice` / `quantity`.
+ producer: 'Apple' (string, optional) - MUST NOT be longer than 50 characters.
+ image (File, optional) - Item image

## OrderFinancing(object)
+ type (enum, required) - Financing type
    + `INSTALLMENT`
+ amount (Amount, optional) - Financed amount for financing. MAY be provided for orders with only single financing. MUST be provided for orders with multiple financings.
+ installment (SettingsInstalment,  required) - Settings for INSTALLMENT Financing type. REQUIRED for INSTALLMENT financing type.

## SettingsInstalment(object)
+ preferredMonths: 6 (number,  optional) - Preferred number of installments (in months)
+ preferredInstallment (Amount,  optional) - Preferred down payment amount (amount should be rounded to hundreds CZK/ 5 EUR)
+ productCode: 'COCONL06' (string,  optional) - Product code (obtained from calculation result).
+ flags (array[enum], fixed-type, optional) - Type of installment program. Used typically with multiple financings.
    + `BUYBACK` - Used for identification installment program used for future buyback of pruchased goods.

## FinancingOriginationContext(object)
+ `channel` (OriginationChannel, required) - Origination channel
+ `precheckIds` (array[string], fixed-type, optional) - Array of all precheck ids related to this application. If partner has run Precheck operation with this Customer's data he SHOULD provide precheckId into this attribute. SHOULD be valid precheckId. See Precheck operations and their's response.
+ `sourceId`: `Cash_10_2020` (string, optional) - Identifier of source or campaign of lead origin. Partner SHOULD provide valid `sourceId`
+ `extendedData` (array[KeyValue], fixed-type, optional) - Additional data about application origin. List of supported `keys` for `extendedData`: `utm_source`, `utm_medium`, `utm_campaign`, `utm_term`, `utm_content`, `gclid`, `fbclid`, `url`.


## OriginationChannel(object)
+ `type` (enum, required) - Type of origination channel
    + `ONLINE` - Customer handles the whole application himself online (for example customer's purchase in eshop)
+ `online` (MerchantURLs, required) - Collection of partner's URLs used for redirection of a customer back to a partner website or as a notification endpoint. REQUIRED for ONLINE channel type

## MerchantURLs(object)
+ `approvedRedirect`: `https://www.partnereshop.cz` (string, optional) - URL of the partner used for redirection of the customer back to partner website after the application approval. MUST be a valid URL according to [RFC 3986](https://tools.ietf.org/html/rfc3986). URL SHOULD contain scheme (for example `https://`) otherwise some browsers will not redirect customer correctly.  MUST NOT be longer than 1000 characters.
+ `rejectedRedirect`: `https://www.partnereshop.cz/kosik` (string, optional) - URL of the partner used for redirection of the customer back to partner website after application rejection. MUST be valid URL according to [RFC 3986](https://tools.ietf.org/html/rfc3986). URL SHOULD contain scheme (for example `https://`) otherwise some browsers will not redirect customer correctly. MUST NOT be longer than 1000 characters.
+ `notificationEndpoint`: `https://www.partnereshop.cz/order/AA234` (string, optional) - URL of the partner used as a notification endpoint for notifying partner about important updates in the application process (approval, rejection, cancellation, etc.). MUST be valid URL according to [RFC 3986](https://tools.ietf.org/html/rfc3986). URL SHOULD contain scheme (for example `https://`). MUST NOT be longer than 1000 characters.

## ApplicationBase(object)
+ id: `123e4567-e89b-12d3-a456-426655440000` (string,  required) - Primary identifier of the application
+ status (enum, required) - Application status
    + `CREATED` - Application process has not started yet
    + `PRESCORED` - Preliminary approved
    + `ALTERNATIVE` - Customer is approved by main scoring and alternative was offered to him
    + `VERIFICATION` - Manual scoring review of application by Home Credit employee is in progress
    + `APPROVED` - Application is approved, contract signature process is in progress
    + `CONFIRMED` - Signed by customer, contract finalization by Home Credit employee is in progress. Final status of application.
    + `REJECTED` - Application was rejected for risk reasons. Final status of application.
    + `CANCELLED` - Application was abandoned (either by client or partner). Final status of application.
+ workflowSteps (array[FinancingWorkflowStep], fixed-type, optional) - Collection of currently available application process actions.

## FinancingWorkflowStep(object)
+ code (enum, required) - Workflow code
    + `REDIRECT` - Application is created, client should be redirected to Home Credit site
    + `DELIVERY` - Application is finished, goods delivery is available
    + `CANCELLATION` - Application is cancelled.
+ priority: 1 (number, required) - Identifier of workflow step's priority expressed as number (lowest number means highest priority)
+ mandatory: true (boolean, required) - Available workflow step for current application in application process.
+ redirect (RedirectURL, optional) - Data for workflow step `REDIRECT`

## RedirectURL(object)
+ gatewayRedirectUrl: `https://nasplatky.homecredit.cz` (string,  required) - Gateway redirect URL. Partner SHOULD redirect customer to this address for continuation of application approval process.

## InstallmentProgramProductSet(object)
+ productSet: `COCHCONL` (string, required) - Product set

## CancelApplicationRequest(object)
+ reason (enum, optional) - Reason of cancellation. Considered as   APPLICATION_CANCELLED_OTHER if not set.
    + `APPLICATION_CANCELLED_CARRIER_CHANGED`
    + `APPLICATION_CANCELLED_CART_CONTENT_CHANGED`
    + `APPLICATION_CANCELLED_BY_CUSTOMER`
    + `APPLICATION_CANCELLED_BY_ERP`
    + `APPLICATION_CANCELLED_EXPIRED`
    + `APPLICATION_CANCELLED_UNFINISHED`
    + `APPLICATION_CANCELLED_BY_ESHOP_RULES`
    + `APPLICATION_CANCELLED_OTHER`
+ customReason (string, optional) - Specification of APPLICATION_CANCELLED_OTHER reason

## GetApplicationDetail (ApplicationBase)
+ financedSubject (GetFinancedSubject, required)

## GetFinancedSubject (object)
+ `type` (enum, required) - Financed subject type
  + `ORDER`
+ order (GetOrder, optional) - Information about customer's purchase of goods. REQUIRED for ORDER type of Financed subject

## GetOrder (object)
+ status (enum, required) - Status of the Order
  + `IN_PROCESS`
  + `TO_SHIP` - Order delivery process should be started
  + `SHIPPED` - Order delivery process has been started
  + `CHECKING_DELIVERY` - Home Credit is verifying with the customer whether the order has been delivered successfully.
  + `DELIVERED` - Order has been delivered succesfully
  + `PAID` - Order has been paid to partner
  + `CANCELLED` - Order was cancelled before order delivery process was started
  + `TERMINATED` - Order was cancelled during order delivery process

## NotificationRequest (object)
+ notificationContent (NotificationContent, required) - Content of the notification
+ sentDate: `2020-07-15T00:00:00+02:00` (string, required) - Time when notification was sent (uses [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) formatting)
+ checksum: `f61c69a259b702d564b2032e554984dec3b713ff7bdde17fcb727d403ea0d730816f46ad2bbc06a1914225d5dfba0396927dbf1b0698081814877b5486950a15` (string, required) - Message checksum - result of HMAC with SHA512 (secret key is used)

## NotificationContent(object)
+ applicationId: `123e4567-e89b-12d3-a456-426655440000` (string,  required) - Primary identifier of the application
+ applicationStatus (enum, required) - Status of the application
    + `CREATED` - Application process has not started yet
    + `PRESCORED` - Preliminary approved
    + `ALTERNATIVE` - Customer is approved by main scoring and alternative was offered to him
    + `VERIFICATION` - Manual scoring review of application by Home Credit employee is i(n progress
    + `APPROVED` - Application is approved, contract signature process is in progress
    + `CONFIRMED` - Signed by customer, contract finalization by Home Credit employee is in progress. Final status of application.
    + `REJECTED` - Application was rejected for risk reasons. Final status of application.
    + `CANCELLED` - Application was abandoned (either by client or partner). Final status of application.)
+ orderNumber: `AA234` (string, optional) - Order number (internal for e-shop)
+ orderStatus (enum, optional) - Status of the Order
    + `IN_PROCESS`
    + `TO_SHIP` - Order delivery process should be started
    + `SHIPPED` - Order delivery process has been started
    + `CHECKING_DELIVERY` - Home Credit is verifying with the customer whether the order has been delivered successfully.
    + `DELIVERED` - Order has been delivered succesfully
    + `PAID` Order has been paid to partner
    + `CANCELLED` - Order was cancelled before order delivery process was started
    + `TERMINATED` - Order was cancelled during order delivery process
+ downPayment (Amount, optional) - Current down payment set by a customer
+ notificationDate: `2020-07-15T00:00:00+02:00` (string, required) - Time when notification was created (uses [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) formatting)
+ sequenceNumber: 1 (number, required) - Notification sequence number

## Error (object)
+ code: `BAD_REQUEST` (string, required) - Unique internal error code
+ message: `Bad request` (string, required) - Human readable error description (non-localized)
+ severity (enum, required)
    + `ERROR` - Critical error, execution cannot continue. This MUST be indicated also by appropriate HTTP status code
    + `WARN` - Non-critical error, execution can continue but further user interaction is advisable. This MIGHT be indicated also by appropriate HTTP status code
    + `INFO` - Information only, execution can continue without user interaction
+ attribute: `customer.addresses[1].streetNumber` (string, optional) - JSON path of request attribute that caused the error (if applicable)
+ ticketId: `UAT1:AMS:20160516-091658.450:45e4` (string, optional) - Internal ticket ID, used for error backtracking

## Errors (object)
+ errors (array[Error], fixed-type, required) - Array with errors

## OTPErrors (Errors)
+ blockedUntil: `2017-01-18T10:34:44+01:00` (string, optional) - requested operation is blocked until specified time

## PagingInfo (object)
+ itemsPerPage: 10 (number, required) - number of items per page
+ nextPage: `transactions?sort=category&limit=10&after=30` (string, optional) - request to retrieve next page, if it exists and can be unambiguously specified
+ prevPage: `transactions?sort=category&limit=10&before=21` (string, optional) - request to retrieve previous page, if it exists and can be unambiguously specified

## Amount (object)
+ `value`: 13300 (number, required) - Amount in minor units (13300 represents 133) [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
+ `currency`: `CZK` (string, required) - Amount currency [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217). Only local currency is allowed (CZK in Czech Republic and EUR in Slovakia).

## VatAmount (object)
Financial amount with VAT rate.

### Properties
+ `value`: 14950 (number, required) - Amount in minor units (14950 represents 149,50) [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217). MUST be 0 or greater.
+ `currency`: `CZK` (string, required) - Amount currency [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217). Only local currency is allowed (CZK in Czech Republic and EUR in Slovakia).
+ `vatRate`: 15 (number, required) - VAT rate as natural number (15 represents 15% rate)

## File (object)
+ `filename`: `iphone6s.jpg` (string, required) - File name.
+ One Of
    + `url`: `https://i.cdn.nrholding.net/32523771/2000/2000/iphone6s.jpg` (string, required) - File URL (full).
    + `content`: `RmlsZSBjb250ZW50cy4gwq9cXyjjg4QpXy/Crw==` (string, required) - File content (Base64 encoded, maximum size of encoded string is 500kB)


## EmptyRE (object)

## KeyValue (object)
+ `key`: `property` (string, required) - Key
+ `value`: `value` (string, required) - Value

## BankAccount (object)
+ type (enum, required) - Account type
    + `IBAN`
    + `NATIONAL`
+ One Of
    + iban (AccountIBAN, required) - Bank account number in IBAN format
    + national (AccountNational, required) - Bank account number in national format.

## AccountIBAN (object)
+ iban: `CZ6508000000192000145399` (string, required) - Account number in IBAN format

## AccountNational (object)
+ prefix: `000000` (string, optional) - Account number prefix. For domestic accounts, this will be specified in national format.
+ accountNumber: `1235335010` (string, required) - Account number. For domestic accounts, this will be specified in national format.
+ bankCode: `3030` (string, required) - For domestic accounts, bank code in national format

## PartnerLogin (object)
Partner login credentials

### Properties
+ `username`: `eShop` (string, required) - Partner username
+ `password`: `eShopSecretPassword` (string, required) - Partner secret password

## PartnerLoginResult (object)
Authenticated partner access token

### Properties
+ `accessToken`: `TokenForPartnerTokenForPartnerTokenForPartnerTokenForPartner` (string, required) - Access token
+ `expiresIn`: 7200 (number) - Token validity remaining time (in seconds)
+ `tokentype`: `bearer` (string, required) - token type. Always "bearer".